In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('groupByKey_vs_reduceByKey').getOrCreate()

25/06/11 15:27:11 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [3]:
spark

In [4]:
hdfs_path = '/data/customers500.csv'
rdd = spark.sparkContext.textFile(hdfs_path)

In [16]:
header = rdd.first()
rdd_no_header = rdd.filter(lambda row : (row != header)).map(lambda row : row.split(','))

In [17]:
rdd_no_header.first()

['218680',
 'Customer_218680',
 'Mumbai',
 'Delhi',
 'India',
 '2023-05-25',
 'False']

## reduceByKey()

In [20]:
reduced_by_rdd = rdd_no_header.map(lambda row : (row[2], 1)).reduceByKey(lambda x, y : (x+y))

In [21]:
reduced_by_rdd.collect()

[('Mumbai', 2097),
 ('Hyderabad', 2110),
 ('Pune', 2058),
 ('Delhi', 2053),
 ('Bangalore', 2076),
 ('Kolkata', 2036),
 ('Chennai', 2051),
 ('Ahmedabad', 2066)]

In [34]:
#data written - 494.0 B

## groupByKey()

In [28]:
grouped_by_key = rdd_no_header.map(lambda row : (row[2], 1)).groupByKey()

In [23]:
grouped_by_key.collect()

[('Mumbai', <pyspark.resultiterable.ResultIterable at 0x7fe1b958d450>),
 ('Hyderabad', <pyspark.resultiterable.ResultIterable at 0x7fe1b958dd10>),
 ('Pune', <pyspark.resultiterable.ResultIterable at 0x7fe1b958d2d0>),
 ('Delhi', <pyspark.resultiterable.ResultIterable at 0x7fe1ab4ad190>),
 ('Bangalore', <pyspark.resultiterable.ResultIterable at 0x7fe1bad5e710>),
 ('Kolkata', <pyspark.resultiterable.ResultIterable at 0x7fe1b9576210>),
 ('Chennai', <pyspark.resultiterable.ResultIterable at 0x7fe1b958ee50>),
 ('Ahmedabad', <pyspark.resultiterable.ResultIterable at 0x7fe1ab40d3d0>)]

In [29]:
grouped_by_key.first()

('Mumbai', <pyspark.resultiterable.ResultIterable at 0x7fe1ab342310>)

In [32]:
count = grouped_by_key.map(lambda row : (row[0], len(row[1])))

In [33]:
count.collect()

[('Mumbai', 2097),
 ('Hyderabad', 2110),
 ('Pune', 2058),
 ('Delhi', 2053),
 ('Bangalore', 2076),
 ('Kolkata', 2036),
 ('Chennai', 2051),
 ('Ahmedabad', 2066)]

In [ ]:
#data written - 698.0 B