In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkDataFrame').getOrCreate()

25/06/05 03:22:48 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

## read data from local csv

In [1]:
initial_data = [
    "0,Customer_0,Pune,Maharashtra,India,2023-06-29,False",
    "1,Customer_1,Bangalore,Tamil Nadu,India,2023-12-07,True",
    "2,Customer_2,Hyderabad,Gujarat,India,2023-10-27,True",
    "3,Customer_3,Bangalore,Karnataka,India,2023-10-17,False",
    "4,Customer_4,Ahmedabad,Karnataka,India,2023-03-14,False",
    "5,Customer_5,Hyderabad,Karnataka,India,2023-07-28,False",
]
data = [row.split(',') for row in initial_data]
columns=["ID", "Customer", "City", "State", "Country", "Date", "Active"]

In [2]:
df = spark.createDataFrame(data, columns)

In [3]:
df.show()

+---+----------+---------+-----------+-------+----------+------+
| ID|  Customer|     City|      State|Country|      Date|Active|
+---+----------+---------+-----------+-------+----------+------+
|  0|Customer_0|     Pune|Maharashtra|  India|2023-06-29| False|
|  1|Customer_1|Bangalore| Tamil Nadu|  India|2023-12-07|  True|
|  2|Customer_2|Hyderabad|    Gujarat|  India|2023-10-27|  True|
|  3|Customer_3|Bangalore|  Karnataka|  India|2023-10-17| False|
|  4|Customer_4|Ahmedabad|  Karnataka|  India|2023-03-14| False|
|  5|Customer_5|Hyderabad|  Karnataka|  India|2023-07-28| False|
+---+----------+---------+-----------+-------+----------+------+

In [20]:
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Customer: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Active: string (nullable = true)

## read data from HDFS storage

In [13]:
!hdfs dfs -ls /data/

Found 3 items
-rw-r--r--   2 root hadoop    1048576 2025-06-03 03:00 /data/customers10.csv
-rw-r--r--   2 root hadoop    1048576 2025-06-05 03:18 /data/customers150.csv
-rw-r--r--   2 root hadoop    1048576 2025-06-04 03:32 /data/customers500.csv

In [16]:
!hdfs dfs -ls -h /data/customers150.csv

-rw-r--r--   2 root hadoop        1 M 2025-06-05 03:18 /data/customers150.csv

In [17]:
path = '/data/customers150.csv'
# Read the CSV file
df2 = spark.read.format('csv') \
    .option('header', 'true') \
    .option('inferSchema', 'true') \
    .load(path)

In [18]:
df2.show()

+------+---------------+---------+-----------+-----+----------+-----+
|  5919|Customer_135919|    Delhi|  Telangana|India|2023-05-02|False|
+------+---------------+---------+-----------+-----+----------+-----+
|135920|Customer_135920|  Chennai|    Gujarat|India|2023-01-06| true|
|135921|Customer_135921|    Delhi|  Telangana|India|2023-01-30|false|
|135922|Customer_135922|  Chennai|    Gujarat|India|2023-11-09|false|
|135923|Customer_135923|  Chennai|      Delhi|India|2023-04-27|false|
|135924|Customer_135924|  Kolkata| Tamil Nadu|India|2023-08-18|false|
|135925|Customer_135925|Ahmedabad|  Karnataka|India|2023-09-12| true|
|135926|Customer_135926|Bangalore|Maharashtra|India|2023-03-05| true|
|135927|Customer_135927|  Kolkata|Maharashtra|India|2023-09-30|false|
|135928|Customer_135928|Hyderabad|Maharashtra|India|2023-03-27| true|
|135929|Customer_135929|     Pune|West Bengal|India|2023-03-25| true|
|135930|Customer_135930|Bangalore| Tamil Nadu|India|2023-11-01| true|
|135931|Customer_135931|  Kolkata|West Bengal|India|2023-09-19|false|
|135932|Customer_135932|    Delhi| Tamil Nadu|India|2023-04-12|false|
|135933|Customer_135933|  Kolkata|  Telangana|India|2023-09-25|false|
|135934|Customer_135934|    Delhi|  Karnataka|India|2023-06-30| true|
|135935|Customer_135935|Hyderabad|    Gujarat|India|2023-11-17| true|
|135936|Customer_135936|Hyderabad|Maharashtra|India|2023-02-16|false|
|135937|Customer_135937|Hyderabad|    Gujarat|India|2023-03-08| true|
|135938|Customer_135938|    Delhi|    Gujarat|India|2023-10-12|false|
|135939|Customer_135939|  Kolkata| Tamil Nadu|India|2023-08-28|false|
+------+---------------+---------+-----------+-----+----------+-----+
only showing top 20 rows

In [19]:
df2.printSchema()

root
 |-- 5919: integer (nullable = true)
 |-- Customer_135919: string (nullable = true)
 |-- Delhi: string (nullable = true)
 |-- Telangana: string (nullable = true)
 |-- India: string (nullable = true)
 |-- 2023-05-02: date (nullable = true)
 |-- False: boolean (nullable = true)

In [20]:
from pyspark.sql.types import StructType, StructField, IntegerType, FloatType, BooleanType, StringType
schema = StructType([
    StructField( 'ID', IntegerType(),False),
    StructField( 'ID', IntegerType(),False),
    StructField( 'ID', IntegerType(),False),
    StructField( 'ID', IntegerType(),False),
    StructField( 'ID', IntegerType(),False),
    StructField( 'ID', IntegerType(),False),
    StructField( 'ID', IntegerType(),False)
])