In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Data Types').getOrCreate()

25/06/08 10:06:41 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [9]:
data = [
    (1, "John Doe", "Bangalore", "15-02-2025", "152.75", "True"),
    (12, "Jane Smith", "Delhi", "2023-05-20", "869.90", "False"),
    (3, "Robert Brown", "Mumbai", "InvalidDate", "200.00", "True"),
    (14, "Linda White", "Kolkata", "2023-02-29", None, "yes"),  # Feb 29 invalid in 2023
    (5, "Mike Green", "Chennai", "2023-08-10", "NaN", "1"),  # NaN needs handling
    (6, "Sarah Blue", "Hyderabad", "InvalidDate", "300.40", "No")
]
columns = ['id', 'name', 'city', 'date', 'amount', 'is_active']
df = spark.createDataFrame(data, schema = columns)

In [10]:
df.show()

+---+------------+---------+-----------+------+---------+
| id|        name|     city|       date|amount|is_active|
+---+------------+---------+-----------+------+---------+
|  1|    John Doe|Bangalore| 15-02-2025|152.75|     True|
| 12|  Jane Smith|    Delhi| 2023-05-20|869.90|    False|
|  3|Robert Brown|   Mumbai|InvalidDate|200.00|     True|
| 14| Linda White|  Kolkata| 2023-02-29|  NULL|      yes|
|  5|  Mike Green|  Chennai| 2023-08-10|   NaN|        1|
|  6|  Sarah Blue|Hyderabad|InvalidDate|300.40|       No|
+---+------------+---------+-----------+------+---------+

In [11]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- date: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- is_active: string (nullable = true)