In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Spark Creating DF').getOrCreate()

25/06/12 01:56:28 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
data = [
    ('Alice', 'Mumbai', 35),
    ('Bob', 'Pune', 23),
    ('Charlie', 'Delhi', 43)
]
column = ['name', 'city', 'age']

In [3]:
df = spark.createDataFrame(data, column)

In [4]:
df.show()

25/06/12 01:56:55 WARN YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
25/06/12 01:57:10 WARN YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
25/06/12 01:57:25 WARN YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
25/06/12 01:57:40 WARN YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
25/06/12 01:57:55 WARN YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources

+-------+------+---+
|   name|  city|age|
+-------+------+---+
|  Alice|Mumbai| 35|
|    Bob|  Pune| 23|
|Charlie| Delhi| 43|
+-------+------+---+

### Spark SQL

In [7]:
spark.sql('show tables').show()

+---------+-------------------+-----------+
|namespace|          tableName|isTemporary|
+---------+-------------------+-----------+
|  default| external_customers|      false|
|  default|external_customers2|      false|
|  default|  managed_customers|      false|
|  default|    test_persistant|      false|
+---------+-------------------+-----------+

In [15]:
spark.sql("select * from external_customers where _c2 = 'Delhi'").show()

+-----+--------------+-----+
|  _c0|           _c1|  _c2|
+-----+--------------+-----+
|17455|Customer_17455|Delhi|
|17471|Customer_17471|Delhi|
|17478|Customer_17478|Delhi|
|17481|Customer_17481|Delhi|
|17490|Customer_17490|Delhi|
|17502|Customer_17502|Delhi|
|17511|Customer_17511|Delhi|
|17516|Customer_17516|Delhi|
|17531|Customer_17531|Delhi|
|17544|Customer_17544|Delhi|
|17546|Customer_17546|Delhi|
|17551|Customer_17551|Delhi|
|17572|Customer_17572|Delhi|
|17577|Customer_17577|Delhi|
|17581|Customer_17581|Delhi|
|17583|Customer_17583|Delhi|
|17591|Customer_17591|Delhi|
|17596|Customer_17596|Delhi|
|17599|Customer_17599|Delhi|
|17625|Customer_17625|Delhi|
+-----+--------------+-----+
only showing top 20 rows

### Spark Table

In [17]:
df_table = spark.table('external_customers')
df_table.show()

+-----+--------------+---------+
|  _c0|           _c1|      _c2|
+-----+--------------+---------+
|India|    2023-10-07|    False|
|17455|Customer_17455|    Delhi|
|17456|Customer_17456|Bangalore|
|17457|Customer_17457|  Kolkata|
|17458|Customer_17458|Hyderabad|
|17459|Customer_17459|Bangalore|
|17460|Customer_17460|     Pune|
|17461|Customer_17461|  Chennai|
|17462|Customer_17462|Bangalore|
|17463|Customer_17463|   Mumbai|
|17464|Customer_17464|  Kolkata|
|17465|Customer_17465|   Mumbai|
|17466|Customer_17466|   Mumbai|
|17467|Customer_17467|Bangalore|
|17468|Customer_17468|Hyderabad|
|17469|Customer_17469|Bangalore|
|17470|Customer_17470|Hyderabad|
|17471|Customer_17471|    Delhi|
|17472|Customer_17472|Hyderabad|
|17473|Customer_17473|Ahmedabad|
+-----+--------------+---------+
only showing top 20 rows

### spark range

In [19]:
spark.range(0, 10).show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

### RDD -> DF

In [29]:
rdd = spark.sparkContext.parallelize([('Alice', 20), ('Bob', 23)])
rdd.first()

('Alice', 20)

In [30]:
df_rdd = rdd.toDF(['name', 'age'])

In [31]:
df_rdd.show()

+-----+---+
| name|age|
+-----+---+
|Alice| 20|
|  Bob| 23|
+-----+---+

In [32]:
spark.stop()