In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('RDD Operation').getOrCreate()

25/05/29 04:04:54 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
cust_data = [
    "customer_id,name,city,state,country,registration_date,is_active",
    "0,Customer_0,Pune,Maharashtra,India,2023-06-29,False",
    "1,Customer_1,Bangalore,Tamil Nadu,India,2023-12-07,True",
    "2,Customer_2,Hyderabad,Gujarat,India,2023-10-27,True",
    "3,Customer_3,Bangalore,Karnataka,India,2023-10-17,False",
    "4,Customer_4,Ahmedabad,Karnataka,India,2023-03-14,False",
    "5,Customer_5,Hyderabad,Karnataka,India,2023-07-28,False",
]

In [3]:
rdd = spark.sparkContext.parallelize(cust_data)

In [ ]:
header = rdd.first()
header

In [ ]:
data_rdd = rdd.filter(lambda row : row != header)
data_rdd.collect()

In [17]:
parsed_rdd = data_rdd.map(lambda row : row.split(','))
parsed_rdd.collect()

[['0', 'Customer_0', 'Pune', 'Maharashtra', 'India', '2023-06-29', 'False'],
 ['1', 'Customer_1', 'Bangalore', 'Tamil Nadu', 'India', '2023-12-07', 'True'],
 ['2', 'Customer_2', 'Hyderabad', 'Gujarat', 'India', '2023-10-27', 'True'],
 ['3', 'Customer_3', 'Bangalore', 'Karnataka', 'India', '2023-10-17', 'False'],
 ['4', 'Customer_4', 'Ahmedabad', 'Karnataka', 'India', '2023-03-14', 'False'],
 ['5', 'Customer_5', 'Hyderabad', 'Karnataka', 'India', '2023-07-28', 'False']]

In [18]:
#reduceByKey() - combines values for each key using an associative reduce function => transformation
cust_per_city1 = parsed_rdd.map(lambda row : (row[2],1)).reduceByKey(lambda x,y : x+y)
cust_per_city1.collect()

[('Pune', 1), ('Hyderabad', 2), ('Bangalore', 2), ('Ahmedabad', 1)]

In [19]:
spark.stop()