In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Data Cleaning & Transformation').getOrCreate()

25/06/20 02:19:59 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [3]:
customer_df = spark.read.csv('/data/olist/olist_customers_dataset.csv', header=True, inferSchema=True)
geolocation_df = spark.read.csv('/data/olist/olist_geolocation_dataset.csv', header=True, inferSchema=True)
order_items_df = spark.read.csv('/data/olist/olist_order_items_dataset.csv', header=True, inferSchema=True)
order_payments_df = spark.read.csv('/data/olist/olist_order_payments_dataset.csv', header=True, inferSchema=True)
order_reviews_df = spark.read.csv('/data/olist/olist_order_reviews_dataset.csv', header=True, inferSchema=True)
orders_df = spark.read.csv('/data/olist/olist_orders_dataset.csv', header=True, inferSchema=True)
products_df = spark.read.csv('/data/olist/olist_products_dataset.csv', header=True, inferSchema=True)
sellers_df = spark.read.csv('/data/olist/olist_sellers_dataset.csv', header=True, inferSchema=True)

In [5]:
from pyspark.sql.functions import *
print(customer_df.columns)
print(col(c) for c in customer_df.columns)

['customer_id', 'customer_unique_id', 'customer_zip_code_prefix', 'customer_city', 'customer_state']
<generator object <genexpr> at 0x7fd2c751f5a0>

In [16]:
def countNullColumn(df, dfName):
    print(f'missing values in {dfName} : ')
    df.select([count(when(col(c).isNull(), 1)).alias(c) for c in df.columns]).show()

In [17]:
countNullColumn(customer_df, 'customer')

missing values in customer :
+-----------+------------------+------------------------+-------------+--------------+
|customer_id|customer_unique_id|customer_zip_code_prefix|customer_city|customer_state|
+-----------+------------------+------------------------+-------------+--------------+
|          0|                 0|                       0|            0|             0|
+-----------+------------------+------------------------+-------------+--------------+

In [19]:
countNullColumn(orders_df, 'orders')

missing values in orders :

+--------+-----------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+
|order_id|customer_id|order_status|order_purchase_timestamp|order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|
+--------+-----------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+
|       0|          0|           0|                       0|              160|                        1783|                         2965|                            0|
+--------+-----------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+

### Handle missing Values
1. Drop missing values (for non critical columns)
2. Fill missing values (for numerical columns)
3. Impute missing values (for continuous data)

In [20]:
orders_df.show(5)

+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|            order_id|         customer_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|e481f51cbdc54678b...|9ef432eb625129730...|   delivered|     2017-10-02 10:56:33|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|          2017-10-18 00:00:00|
|53cdb2fc8bc7dce0b...|b0830fb4747a6c6d2...|   delivered|     2018-07-24 20:41:37|2018-07-26 03:24:27|         2018-07-26 14:31:00|          2018-08-07 15:27:45|          2018-08-13 00:00:00|
|47770eb9100c2d0c4...|41ce2a54c0b03bf34...|   delivered|     2018-08-08 08:38:49|2018-08-08 08:55:23|         2018-08-08 13:50:00|          2018-08-17 18:06:29|          2018-09-04 00:00:00|
|949d5b44dbf5de918...|f88197465ea7920ad...|   delivered|     2017-11-18 19:28:06|2017-11-18 19:45:59|         2017-11-22 13:39:59|          2017-12-02 00:28:42|          2017-12-15 00:00:00|
|ad21c59c0840e6cb8...|8ab97904e6daea886...|   delivered|     2018-02-13 21:18:39|2018-02-13 22:20:29|         2018-02-14 19:46:34|          2018-02-16 18:17:02|          2018-02-26 00:00:00|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
only showing top 5 rows

In [19]:
#Only drop a row if any of these specific columns have null values.
orders_df_cleaned = orders_df.na.drop(subset = ['order_id', 'customer_id', 'order_status'])
orders_df_cleaned.show(10)

+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|            order_id|         customer_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|e481f51cbdc54678b...|9ef432eb625129730...|   delivered|     2017-10-02 10:56:33|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|          2017-10-18 00:00:00|
|53cdb2fc8bc7dce0b...|b0830fb4747a6c6d2...|   delivered|     2018-07-24 20:41:37|2018-07-26 03:24:27|         2018-07-26 14:31:00|          2018-08-07 15:27:45|          2018-08-13 00:00:00|
|47770eb9100c2d0c4...|41ce2a54c0b03bf34...|   delivered|     2018-08-08 08:38:49|2018-08-08 08:55:23|         2018-08-08 13:50:00|          2018-08-17 18:06:29|          2018-09-04 00:00:00|
|949d5b44dbf5de918...|f88197465ea7920ad...|   delivered|     2017-11-18 19:28:06|2017-11-18 19:45:59|         2017-11-22 13:39:59|          2017-12-02 00:28:42|          2017-12-15 00:00:00|
|ad21c59c0840e6cb8...|8ab97904e6daea886...|   delivered|     2018-02-13 21:18:39|2018-02-13 22:20:29|         2018-02-14 19:46:34|          2018-02-16 18:17:02|          2018-02-26 00:00:00|
|a4591c265e18cb1dc...|503740e9ca751ccdd...|   delivered|     2017-07-09 21:57:05|2017-07-09 22:10:13|         2017-07-11 14:58:04|          2017-07-26 10:57:55|          2017-08-01 00:00:00|
|136cce7faa42fdb2c...|ed0271e0b7da060a3...|    invoiced|     2017-04-11 12:22:08|2017-04-13 13:25:17|                        NULL|                         NULL|          2017-05-09 00:00:00|
|6514b8ad8028c9f2c...|9bdf08b4b3b52b552...|   delivered|     2017-05-16 13:10:30|2017-05-16 13:22:11|         2017-05-22 10:07:46|          2017-05-26 12:55:51|          2017-06-07 00:00:00|
|76c6e866289321a7c...|f54a9f0e6b351c431...|   delivered|     2017-01-23 18:29:09|2017-01-25 02:50:47|         2017-01-26 14:16:31|          2017-02-02 14:08:10|          2017-03-06 00:00:00|
|e69bfb5eb88e0ed6a...|31ad1d1b63eb99624...|   delivered|     2017-07-29 11:55:02|2017-07-29 12:05:32|         2017-08-10 19:45:24|          2017-08-16 17:14:30|          2017-08-23 00:00:00|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
only showing top 10 rows

In [20]:
orders_df_cleaned = orders_df.fillna({'order_delivered_customer_date' : '9999-12-31'})

In [36]:
orders_df_cleaned.show(10)

+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|            order_id|         customer_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|e481f51cbdc54678b...|9ef432eb625129730...|   delivered|     2017-10-02 10:56:33|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|          2017-10-18 00:00:00|
|53cdb2fc8bc7dce0b...|b0830fb4747a6c6d2...|   delivered|     2018-07-24 20:41:37|2018-07-26 03:24:27|         2018-07-26 14:31:00|          2018-08-07 15:27:45|          2018-08-13 00:00:00|
|47770eb9100c2d0c4...|41ce2a54c0b03bf34...|   delivered|     2018-08-08 08:38:49|2018-08-08 08:55:23|         2018-08-08 13:50:00|          2018-08-17 18:06:29|          2018-09-04 00:00:00|
|949d5b44dbf5de918...|f88197465ea7920ad...|   delivered|     2017-11-18 19:28:06|2017-11-18 19:45:59|         2017-11-22 13:39:59|          2017-12-02 00:28:42|          2017-12-15 00:00:00|
|ad21c59c0840e6cb8...|8ab97904e6daea886...|   delivered|     2018-02-13 21:18:39|2018-02-13 22:20:29|         2018-02-14 19:46:34|          2018-02-16 18:17:02|          2018-02-26 00:00:00|
|a4591c265e18cb1dc...|503740e9ca751ccdd...|   delivered|     2017-07-09 21:57:05|2017-07-09 22:10:13|         2017-07-11 14:58:04|          2017-07-26 10:57:55|          2017-08-01 00:00:00|
|136cce7faa42fdb2c...|ed0271e0b7da060a3...|    invoiced|     2017-04-11 12:22:08|2017-04-13 13:25:17|                        NULL|          9999-12-31 00:00:00|          2017-05-09 00:00:00|
|6514b8ad8028c9f2c...|9bdf08b4b3b52b552...|   delivered|     2017-05-16 13:10:30|2017-05-16 13:22:11|         2017-05-22 10:07:46|          2017-05-26 12:55:51|          2017-06-07 00:00:00|
|76c6e866289321a7c...|f54a9f0e6b351c431...|   delivered|     2017-01-23 18:29:09|2017-01-25 02:50:47|         2017-01-26 14:16:31|          2017-02-02 14:08:10|          2017-03-06 00:00:00|
|e69bfb5eb88e0ed6a...|31ad1d1b63eb99624...|   delivered|     2017-07-29 11:55:02|2017-07-29 12:05:32|         2017-08-10 19:45:24|          2017-08-16 17:14:30|          2017-08-23 00:00:00|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
only showing top 10 rows

### Impute missing fields

In [23]:
from pyspark.ml.feature import Imputer

imputer = Imputer(inputCols=['payment_value'], outputCols=['payment_value_imputed']).setStrategy('mean')
payments_df_cleaned = imputer.fit(order_payments_df).transform(order_payments_df)

In [43]:
payments_df_cleaned.show()

+--------------------+------------------+------------+--------------------+-------------+---------------------+
|            order_id|payment_sequential|payment_type|payment_installments|payment_value|payment_value_imputed|
+--------------------+------------------+------------+--------------------+-------------+---------------------+
|b81ef226f3fe1789b...|                 1| credit_card|                   8|        99.33|                99.33|
|a9810da82917af2d9...|                 1| credit_card|                   1|        24.39|                24.39|
|25e8ea4e93396b6fa...|                 1| credit_card|                   1|        65.71|                65.71|
|ba78997921bbcdc13...|                 1| credit_card|                   8|       107.78|               107.78|
|42fdf880ba16b47b5...|                 1| credit_card|                   2|       128.45|               128.45|
|298fcdf1f73eb413e...|                 1| credit_card|                   2|        96.12|                96.12|
|771ee386b001f0620...|                 1| credit_card|                   1|        81.16|                81.16|
|3d7239c394a212faa...|                 1| credit_card|                   3|        51.84|                51.84|
|1f78449c87a54faf9...|                 1| credit_card|                   6|       341.09|               341.09|
|0573b5e23cbd79800...|                 1|      boleto|                   1|        51.95|                51.95|
|d88e0d5fa41661ce0...|                 1| credit_card|                   8|       188.73|               188.73|
|2480f727e869fdeb3...|                 1| credit_card|                   1|        141.9|                141.9|
|616105c9352a9668c...|                 1| credit_card|                   1|        75.78|                75.78|
|cf95215a722f3ebf2...|                 1| credit_card|                   5|       102.66|               102.66|
|769214176682788a9...|                 1| credit_card|                   4|       105.28|               105.28|
|12e5cfe0e4716b59a...|                 1| credit_card|                  10|       157.45|               157.45|
|61059985a6fc0ad64...|                 1| credit_card|                   1|       132.04|               132.04|
|79da3f5fe31ad1e45...|                 1| credit_card|                   1|        98.94|                98.94|
|8ac09207f415d55ac...|                 1| credit_card|                   4|       244.15|               244.15|
|b2349a3f20dfbeef6...|                 1| credit_card|                   3|       136.71|               136.71|
+--------------------+------------------+------------+--------------------+-------------+---------------------+
only showing top 20 rows

In [44]:
def printingSchema(df, dfName):
    print(f'schema of {dfName} : ')
    df.printSchema()

In [45]:
printingSchema(customer_df, 'customers')

schema of customers :
root
 |-- customer_id: string (nullable = true)
 |-- customer_unique_id: string (nullable = true)
 |-- customer_zip_code_prefix: integer (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)

In [46]:
printingSchema(orders_df, 'orders')

schema of orders :
root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_purchase_timestamp: timestamp (nullable = true)
 |-- order_approved_at: timestamp (nullable = true)
 |-- order_delivered_carrier_date: timestamp (nullable = true)
 |-- order_delivered_customer_date: timestamp (nullable = true)
 |-- order_estimated_delivery_date: timestamp (nullable = true)

In [48]:
orders_df.show(3)

+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|            order_id|         customer_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|e481f51cbdc54678b...|9ef432eb625129730...|   delivered|     2017-10-02 10:56:33|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|          2017-10-18 00:00:00|
|53cdb2fc8bc7dce0b...|b0830fb4747a6c6d2...|   delivered|     2018-07-24 20:41:37|2018-07-26 03:24:27|         2018-07-26 14:31:00|          2018-08-07 15:27:45|          2018-08-13 00:00:00|
|47770eb9100c2d0c4...|41ce2a54c0b03bf34...|   delivered|     2018-08-08 08:38:49|2018-08-08 08:55:23|         2018-08-08 13:50:00|          2018-08-17 18:06:29|          2018-09-04 00:00:00|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
only showing top 3 rows

In [21]:
orders_df_cleaned = orders_df.withColumn('order_purchase_timestamp', to_date(col('order_purchase_timestamp')))
orders_df_cleaned.show(3)

+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|            order_id|         customer_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|e481f51cbdc54678b...|9ef432eb625129730...|   delivered|              2017-10-02|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|          2017-10-18 00:00:00|
|53cdb2fc8bc7dce0b...|b0830fb4747a6c6d2...|   delivered|              2018-07-24|2018-07-26 03:24:27|         2018-07-26 14:31:00|          2018-08-07 15:27:45|          2018-08-13 00:00:00|
|47770eb9100c2d0c4...|41ce2a54c0b03bf34...|   delivered|              2018-08-08|2018-08-08 08:55:23|         2018-08-08 13:50:00|          2018-08-17 18:06:29|          2018-09-04 00:00:00|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
only showing top 3 rows

In [50]:
order_payments_df.show(2)

+--------------------+------------------+------------+--------------------+-------------+
|            order_id|payment_sequential|payment_type|payment_installments|payment_value|
+--------------------+------------------+------------+--------------------+-------------+
|b81ef226f3fe1789b...|                 1| credit_card|                   8|        99.33|
|a9810da82917af2d9...|                 1| credit_card|                   1|        24.39|
+--------------------+------------------+------------+--------------------+-------------+
only showing top 2 rows

In [24]:
payments_df_cleaned = order_payments_df.withColumn('payment_type', when(col('payment_type') == 'credit_card','Credit Card')
                                                                   .when(col('payment_type') == 'boleto', 'Bank Transfer')
                                                                   .when(col('payment_type') == 'debit_card', 'Debit Card')
                                                                   .otherwise('other'))

In [25]:
payments_df_cleaned.show()

+--------------------+------------------+-------------+--------------------+-------------+
|            order_id|payment_sequential| payment_type|payment_installments|payment_value|
+--------------------+------------------+-------------+--------------------+-------------+
|b81ef226f3fe1789b...|                 1|  Credit Card|                   8|        99.33|
|a9810da82917af2d9...|                 1|  Credit Card|                   1|        24.39|
|25e8ea4e93396b6fa...|                 1|  Credit Card|                   1|        65.71|
|ba78997921bbcdc13...|                 1|  Credit Card|                   8|       107.78|
|42fdf880ba16b47b5...|                 1|  Credit Card|                   2|       128.45|
|298fcdf1f73eb413e...|                 1|  Credit Card|                   2|        96.12|
|771ee386b001f0620...|                 1|  Credit Card|                   1|        81.16|
|3d7239c394a212faa...|                 1|  Credit Card|                   3|        51.84|
|1f78449c87a54faf9...|                 1|  Credit Card|                   6|       341.09|
|0573b5e23cbd79800...|                 1|Bank Transfer|                   1|        51.95|
|d88e0d5fa41661ce0...|                 1|  Credit Card|                   8|       188.73|
|2480f727e869fdeb3...|                 1|  Credit Card|                   1|        141.9|
|616105c9352a9668c...|                 1|  Credit Card|                   1|        75.78|
|cf95215a722f3ebf2...|                 1|  Credit Card|                   5|       102.66|
|769214176682788a9...|                 1|  Credit Card|                   4|       105.28|
|12e5cfe0e4716b59a...|                 1|  Credit Card|                  10|       157.45|
|61059985a6fc0ad64...|                 1|  Credit Card|                   1|       132.04|
|79da3f5fe31ad1e45...|                 1|  Credit Card|                   1|        98.94|
|8ac09207f415d55ac...|                 1|  Credit Card|                   4|       244.15|
|b2349a3f20dfbeef6...|                 1|  Credit Card|                   3|       136.71|
+--------------------+------------------+-------------+--------------------+-------------+
only showing top 20 rows

In [55]:
payments_df_cleaned.groupBy('payment_type').count().show()

+-------------+-----+
| payment_type|count|
+-------------+-----+
|  Credit Card|76795|
|Bank Transfer|19784|
|   Debit Card| 1529|
|        other| 5778|
+-------------+-----+

In [14]:
#zip code (int -> string)
customer_df.printSchema()
customer_df_cleaned = customer_df.withColumn('customer_zip_code_prefix', col('customer_zip_code_prefix').cast('string'))
customer_df_cleaned.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- customer_unique_id: string (nullable = true)
 |-- customer_zip_code_prefix: integer (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)

root
 |-- customer_id: string (nullable = true)
 |-- customer_unique_id: string (nullable = true)
 |-- customer_zip_code_prefix: string (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)

In [9]:
#remove duplicate based on customer_id

In [17]:
customer_df_cleaned.count()

99441

In [16]:
customer_df_cleaned = customer_df_cleaned.dropDuplicates(['customer_id'])

In [26]:
#combine multiple ccolumns 
orders_with_details = orders_df_cleaned.join(order_items_df, 'order_id', 'left')\
                                       .join(payments_df_cleaned, 'order_id', 'left' )\
                                       .join(customer_df_cleaned, 'customer_id', 'left')
orders_with_details.show()

+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+-------------+--------------------+--------------------+-------------------+------+-------------+------------------+-------------+--------------------+-------------+--------------------+------------------------+--------------------+--------------+
|         customer_id|            order_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|order_item_id|          product_id|           seller_id|shipping_limit_date| price|freight_value|payment_sequential| payment_type|payment_installments|payment_value|  customer_unique_id|customer_zip_code_prefix|       customer_city|customer_state|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+-------------+--------------------+--------------------+-------------------+------+-------------+------------------+-------------+--------------------+-------------+--------------------+------------------------+--------------------+--------------+
|9ef432eb625129730...|e481f51cbdc54678b...|   delivered|              2017-10-02|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|          2017-10-18 00:00:00|            1|87285b34884572647...|3504c0cb71d7fa48d...|2017-10-06 11:07:15| 29.99|         8.72|                 2|        other|                   1|        18.59|7c396fd4830fd0422...|                    3149|           sao paulo|            SP|
|9ef432eb625129730...|e481f51cbdc54678b...|   delivered|              2017-10-02|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|          2017-10-18 00:00:00|            1|87285b34884572647...|3504c0cb71d7fa48d...|2017-10-06 11:07:15| 29.99|         8.72|                 3|        other|                   1|          2.0|7c396fd4830fd0422...|                    3149|           sao paulo|            SP|
|9ef432eb625129730...|e481f51cbdc54678b...|   delivered|              2017-10-02|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|          2017-10-18 00:00:00|            1|87285b34884572647...|3504c0cb71d7fa48d...|2017-10-06 11:07:15| 29.99|         8.72|                 1|  Credit Card|                   1|        18.12|7c396fd4830fd0422...|                    3149|           sao paulo|            SP|
|b0830fb4747a6c6d2...|53cdb2fc8bc7dce0b...|   delivered|              2018-07-24|2018-07-26 03:24:27|         2018-07-26 14:31:00|          2018-08-07 15:27:45|          2018-08-13 00:00:00|            1|595fac2a385ac33a8...|289cdb325fb7e7f89...|2018-07-30 03:24:27| 118.7|        22.76|                 1|Bank Transfer|                   1|       141.46|af07308b275d755c9...|                   47813|           barreiras|            BA|
|41ce2a54c0b03bf34...|47770eb9100c2d0c4...|   delivered|              2018-08-08|2018-08-08 08:55:23|         2018-08-08 13:50:00|          2018-08-17 18:06:29|          2018-09-04 00:00:00|            1|aa4383b373c6aca5d...|4869f7a5dfa277a7d...|2018-08-13 08:55:23| 159.9|        19.22|                 1|  Credit Card|                   3|       179.12|3a653a41f6f9fc3d2...|                   75265|          vianopolis|            GO|
|f88197465ea7920ad...|949d5b44dbf5de918...|   delivered|              2017-11-18|2017-11-18 19:45:59|         2017-11-22 13:39:59|          2017-12-02 00:28:42|          2017-12-15 00:00:00|            1|d0b61bfb1de832b15...|66922902710d126a0...|2017-11-23 19:45:59|  45.0|         27.2|                 1|  Credit Card|                   1|         72.2|7c142cf63193a1473...|                   59296|sao goncalo do am...|            RN|
|8ab97904e6daea886...|ad21c59c0840e6cb8...|   delivered|              2018-02-13|2018-02-13 22:20:29|         2018-02-14 19:46:34|          2018-02-16 18:17:02|          2018-02-26 00:00:00|            1|65266b2da20d04dbe...|2c9e548be18521d1c...|2018-02-19 20:31:37|  19.9|         8.72|                 1|  Credit Card|                   1|        28.62|72632f0f9dd73dfee...|                    9195|         santo andre|            SP|
|503740e9ca751ccdd...|a4591c265e18cb1dc...|   delivered|              2017-07-09|2017-07-09 22:10:13|         2017-07-11 14:58:04|          2017-07-26 10:57:55|          2017-08-01 00:00:00|            1|060cb19345d90064d...|8581055ce74af1dab...|2017-07-13 22:10:13| 147.9|        27.36|                 1|  Credit Card|                   6|       175.26|80bb27c7c16e8f973...|                   86320|        congonhinhas|            PR|
|ed0271e0b7da060a3...|136cce7faa42fdb2c...|    invoiced|              2017-04-11|2017-04-13 13:25:17|                        NULL|                         NULL|          2017-05-09 00:00:00|            1|a1804276d9941ac07...|dc8798cbf453b7e0f...|2017-04-19 13:25:17|  49.9|        16.05|                 1|  Credit Card|                   1|        65.95|36edbb3fb164b1f16...|                   98900|          santa rosa|            RS|
|9bdf08b4b3b52b552...|6514b8ad8028c9f2c...|   delivered|              2017-05-16|2017-05-16 13:22:11|         2017-05-22 10:07:46|          2017-05-26 12:55:51|          2017-06-07 00:00:00|            1|4520766ec412348b8...|16090f2ca825584b5...|2017-05-22 13:22:11| 59.99|        15.17|                 1|  Credit Card|                   3|        75.16|932afa1e708222e58...|                   26525|           nilopolis|            RJ|
|f54a9f0e6b351c431...|76c6e866289321a7c...|   delivered|              2017-01-23|2017-01-25 02:50:47|         2017-01-26 14:16:31|          2017-02-02 14:08:10|          2017-03-06 00:00:00|            1|ac1789e492dcd698c...|63b9ae557efed31d1...|2017-01-27 18:29:09|  19.9|        16.05|                 1|Bank Transfer|                   1|        35.95|39382392765b6dc74...|                   99655|        faxinalzinho|            RS|
|31ad1d1b63eb99624...|e69bfb5eb88e0ed6a...|   delivered|              2017-07-29|2017-07-29 12:05:32|         2017-08-10 19:45:24|          2017-08-16 17:14:30|          2017-08-23 00:00:00|            1|9a78fb9862b10749a...|7c67e1448b00f6e96...|2017-08-11 12:05:32|149.99|        19.77|                 1|  Credit Card|                   1|         8.34|299905e3934e9e181...|                   18075|            sorocaba|            SP|
|31ad1d1b63eb99624...|e69bfb5eb88e0ed6a...|   delivered|              2017-07-29|2017-07-29 12:05:32|         2017-08-10 19:45:24|          2017-08-16 17:14:30|          2017-08-23 00:00:00|            1|9a78fb9862b10749a...|7c67e1448b00f6e96...|2017-08-11 12:05:32|149.99|        19.77|                 2|        other|                   1|       161.42|299905e3934e9e181...|                   18075|            sorocaba|            SP|
|494dded5b201313c6...|e6ce16cb79ec1d90b...|   delivered|              2017-05-16|2017-05-16 19:50:18|         2017-05-18 11:40:40|          2017-05-29 11:18:31|          2017-06-07 00:00:00|            2|08574b074924071f4...|001cca7ae9ae17fb1...|2017-05-22 19:50:18|  99.0|        30.53|                 1|  Credit Card|                   1|       259.06|f2a85dec752b8517b...|                   20780|      rio de janeiro|            RJ|
|494dded5b201313c6...|e6ce16cb79ec1d90b...|   delivered|              2017-05-16|2017-05-16 19:50:18|         2017-05-18 11:40:40|          2017-05-29 11:18:31|          2017-06-07 00:00:00|            1|08574b074924071f4...|001cca7ae9ae17fb1...|2017-05-22 19:50:18|  99.0|        30.53|                 1|  Credit Card|                   1|       259.06|f2a85dec752b8517b...|                   20780|      rio de janeiro|            RJ|
|7711cf624183d843a...|34513ce0c4fab462a...|   delivered|              2017-07-13|2017-07-13 20:10:08|         2017-07-14 18:43:29|          2017-07-19 14:04:48|          2017-08-08 00:00:00|            1|f7e0fa615b386bc9a...|87142160b41353c4e...|2017-07-19 20:10:08|  98.0|        16.13|                 1|  Credit Card|                   1|       114.13|782987b81c92239d9...|                    4278|           sao paulo|            SP|
|d3e3b74c766bc6214...|82566a660a982b15f...|   delivered|              2018-06-07|2018-06-09 03:13:12|         2018-06-11 13:29:00|          2018-06-19 12:05:52|          2018-07-18 00:00:00|            1|72a97c271b2e42997...|094ced053e257ae8c...|2018-06-18 03:13:12|  31.9|        18.23|                 1|Bank Transfer|                   1|        50.13|e97109680b052ee85...|                   35400|          ouro preto|            MG|
|19402a48fe860416a...|5ff96c15d0b717ac6...|   delivered|              2018-07-25|2018-07-25 17:55:14|         2018-07-26 13:16:00|          2018-07-30 15:52:25|          2018-08-08 00:00:00|            1|10adb53d8faa890ca...|1900267e848ceeba8...|2018-07-27 17:55:14|  19.9|         12.8|                 1|  Credit Card|                   3|         32.7|e2dfa3127fedbbca9...|                    4812|           sao paulo|            SP|
|3df704f53d3f1d481...|432aaf21d85167c2c...|   delivered|              2018-03-01|2018-03-01 15:10:47|         2018-03-02 21:09:20|          2018-03-12 23:36:26|          2018-03-21 00:00:00|            1|72d3bf1d3a790f887...|0bae85eb84b9fb3bd...|2018-03-07 15:10:47| 38.25|        16.11|                 1|  Credit Card|                   1|        54.36|04cf8185c71090d28...|                    5271|           sao paulo|            SP|
|3b6828a50ffe54694...|dcb36b511fcac050b...|   delivered|              2018-06-07|2018-06-12 23:31:02|         2018-06-11 14:54:00|          2018-06-21 15:34:32|          2018-07-04 00:00:00|            1|009c09f439988bc06...|89a51f50b8095ea78...|2018-06-18 18:59:02| 132.4|        14.05|                 1|  Credit Card|                  10|       146.45|ccafc1c3f27041052...|                   74820|             goiania|            GO|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+-------------+--------------------+--------------------+-------------------+------+-------------+------------------+-------------+--------------------+-------------+--------------------+------------------------+--------------------+--------------+
only showing top 20 rows

In [30]:
orders_with_details.groupBy('order_id').agg(sum('payment_value').alias('total_order_value')).orderBy(asc('total_order_value')).show()

+--------------------+-----------------+
|            order_id|total_order_value|
+--------------------+-----------------+
|bfbd0f9bdef843021...|             NULL|
|c8c528189310eaa44...|              0.0|
|00b1cb0320190ca0d...|              0.0|
|4637ca194b6387e2d...|              0.0|
|f1d5c2e6867fa93ce...|             9.59|
|e8bbc1d69fee39eee...|            10.07|
|37193e64eb9a46b7f...|            10.89|
|47d11383b93b217d9...|            11.56|
|38bcb524e1c38c2c1...|            11.62|
|27eebc49f55d8e9b8...|            11.63|
|8bf12a5b441bd86a1...|            11.63|
|c79bdf061e2228860...|            12.22|
|44a2fb6a4520b17de...|            12.28|
|97369eeb115806c27...|            12.39|
|767dd7bdeb5f5d8f1...|            12.89|
|7c2ee08449e6b8b55...|            12.89|
|e444d35248c6b1c8b...|            13.17|
|6bbd90ca863235a91...|            13.29|
|6f239f76247919dca...|            13.36|
|0661cdf16c5593646...|            13.38|
+--------------------+-----------------+
only showing top 20 rows

## Advance Transformation

In [32]:
quantiles = order_items_df.approxQuantile('price', [0.01, 0.99], 0.0)
low_cutoff, high_cutoff = quantiles[0], quantiles[1]

In [33]:
low_cutoff, high_cutoff

(9.99, 890.0)

In [34]:
order_items_df.select('price').summary().show()

+-------+------------------+
|summary|             price|
+-------+------------------+
|  count|            112650|
|   mean|120.65373901471354|
| stddev|183.63392805026012|
|    min|              0.85|
|    25%|              39.9|
|    50%|             74.99|
|    75%|             134.9|
|    max|            6735.0|
+-------+------------------+

In [36]:
!hdfs dfs -ls /data/olist

Found 9 items
-rw-r--r--   2 harishankargiri16 hadoop    9033957 2025-06-18 03:47 /data/olist/olist_customers_dataset.csv
-rw-r--r--   2 harishankargiri16 hadoop   61273883 2025-06-18 03:47 /data/olist/olist_geolocation_dataset.csv
-rw-r--r--   2 harishankargiri16 hadoop   15438671 2025-06-18 03:47 /data/olist/olist_order_items_dataset.csv
-rw-r--r--   2 harishankargiri16 hadoop    5777138 2025-06-18 03:47 /data/olist/olist_order_payments_dataset.csv
-rw-r--r--   2 harishankargiri16 hadoop   14451670 2025-06-18 03:47 /data/olist/olist_order_reviews_dataset.csv
-rw-r--r--   2 harishankargiri16 hadoop   17654914 2025-06-18 03:47 /data/olist/olist_orders_dataset.csv
-rw-r--r--   2 harishankargiri16 hadoop    2379446 2025-06-18 03:47 /data/olist/olist_products_dataset.csv
-rw-r--r--   2 harishankargiri16 hadoop     174703 2025-06-18 03:47 /data/olist/olist_sellers_dataset.csv
-rw-r--r--   2 harishankargiri16 hadoop       2613 2025-06-18 03:47 /data/olist/product_category_name_translation.csv

In [38]:
!hdfs dfs -mkdir /data/olist_processed_data

In [39]:
orders_with_details.write.mode('overwrite').parquet('/data/olist_processed_data/cleaned_data.parquet')

In [40]:
!hdfs dfs -ls /data/olist_processed_data

Found 1 items
drwxr-xr-x   - root hadoop          0 2025-06-21 14:49 /data/olist_processed_data/cleaned_data.parquet

In [41]:
spark.stop()